body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
    color: #333;
}
header {
    background: #4CAF50;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #4CAF50;
    margin-top: 30px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}
p {
    margin: 15px 0;
    text-align: justify;
}
footer {
    display: flex;
    text-align: center;
    margin-top: 30px auto;
    padding: 30px ;
    background: #333;
    color: white;
    font-size: 0.9rem;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    border: none;
    border-radius: 20px;

    background-color: #4CAF50;
    color: #f9f9f9;
    padding: 20px;
    font-size: 1rem;
}